<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>27EI7K4XGXLL5EVFNR2Z</string>
    <key>CLIENT_SECRET</key>
    <string>XIBLMQR3OJZSRHZDDMNFDX5MHEMZLI32OYEFQYHOII75YFDGTX</string>
    <key>REDIRECT_URI</key>
    <string>your-redirect-uri-here</string>
</dict>
</plist>
